<app-admin-layout></app-admin-layout>
<div id="page-wrapper">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4>Dashboard</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="dashboard">Dashboard</a>
                </li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /. ROW  -->
    <div id="page-inner">

        <div class="row bott-wid">
            <div class="col-md-3 col-sm-6">
                <div class="widget unique-widget">
                    <div class="row">
                        <div class="widget-caption info">
                            <div class="col-xs-4 no-pad">
                                <i class="icon icon-profile-male"></i>
                            </div>
                            <div class="col-xs-8 no-pad">
                                <div class="widget-detail">
                                    <h3>372</h3>
                                    <span>Active Users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget unique-widget">
                    <div class="row">
                        <div class="widget-caption danger">
                            <div class="col-xs-4 no-pad">
                                <i class="icon icon-happy"></i>
                            </div>
                            <div class="col-xs-8 no-pad">
                                <div class="widget-detail">
                                    <h3>412</h3>
                                    <span>Happy Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget unique-widget">
                    <div class="row">
                        <div class="widget-caption sucess">
                            <div class="col-xs-4 no-pad">
                                <i class="icon icon-basket"></i>
                            </div>
                            <div class="col-xs-8 no-pad">
                                <div class="widget-detail">
                                    <h3>$4770</h3>
                                    <span>Total Earnings</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget unique-widget">
                    <div class="row">
                        <div class="widget-caption warning">
                            <div class="col-xs-4 no-pad">
                                <i class="icon icon-trophy"></i>
                            </div>
                            <div class="col-xs-8 no-pad">
                                <div class="widget-detail">
                                    <h3>870</h3>
                                    <span>Total Listing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bott-wid">

            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Recent Listing</h4>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Listing -->
            <div class="col-md-4 col-sm-6">
                <div class="listing-shot grid-style">
                    <a href="listing-detail.html">
                        <div class="listing-shot-img">
                            <img src="http://via.placeholder.com/800x600" class="img-responsive" alt="">
                            <span class="like-listing">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="listing-shot-caption">
                            <h4>Art &amp; Design</h4>
                            <p class="listing-location">Bishop Avenue, New York</p>
                        </div>
                    </a>
                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
                                    <span>
                                        <i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star" aria-hidden="true"></i>
                                <i class="color fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="#" class="detail-link">Open Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>